body{
    background-color: #202124;
    margin: 0;
    padding: 0;
}
.noexits{
    margin-top: 10%;
    font-size: 28px;
    color: white;
    font-family: 'Nunito', sans-serif;
  
    text-align: center;
}
.comeback{
    margin-top: 10%;
    text-align: center;
}
.comeback button{
    
    transition: 1s;
    background-color: transparent;
    border-radius: 37px;
    border: 1px solid #adadad;
    color: #adadad;
    padding: 15px;
    cursor: pointer;
}
.comeback button:hover{
    background-color: #adadad;
    color: #202124;
}